<div class="row justify-content-center">
  <div class="col-6">
    <h4 class="mt-3">Edit a flat</h4>
    <%= render "form", flat: @flat %>
    <%=link_to "Back", flats_path, class: "btn btn-primary mt-3"  %>
  </div>
</div>
